/node_modules
/public/hot
/public/storage
/public_html
/storage/*.key
/vendor
.env
.phpunit.result.cache
/spod_cms_services
/spod_fanapium
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.idea/modules.xml
libclntsh.so
libocci.so
/config/database.php
composer.lock
composer.json
public/vendor/
.vscode/
back.zip
CMD_FILE_MANAGER.zip
